.comments{
    width: 100%;
    padding-top:25px; 
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    color:#333;
}
.comments--card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    border-left: 3px solid #E89A48;

}
.comments--title{
    font-family: "Roboto";
    font-weight: 400;
    color: #444;
    padding-bottom: 15px;
}
.comments--list{
    list-style: none;
    padding-bottom: 20px;
}
.comments--element{
    align-items: flex-start;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.comments--name{
margin-bottom: 10px;
font-weight: 600;
}
.comments--rate{
    margin-bottom:5px;

}
.comments--use-life{
    font-weight: 100;
    margin-top:10px;

}
.comments--sub-use-life{
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 10px;
}
.comments--date{

}
.comments--content{
    padding-left: 75px;
    display: flex;
    flex-direction: column;
}
.comments--article{
    font-size: 20px;
    font-weight: 600;

}
.comments--sub{

    font-size: 18px;
    padding-bottom: 20px;
}

.comments--field-list{
    width: 700px;
    list-style-type: none;
}
.comments--field-list li{
    width: 600px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
}

.comments--field-list label{
    width: 200px;
    display: inline-block;
}
.comments--field{
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 250px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 2px;
padding: 5px;
}
