.help{
    width: 100%;
    padding:25px; 
    font-family: "Roboto";
    display: block;
    box-sizing: border-box;
}
.help--title{
    font-weight: 400;
    color: #444;
    padding-bottom: 5px; 
}
.help--text{
}