.help{
    width: 100%;
    margin:25px; 
    font-family: "Roboto";
    display: block;
    width:1200px;
}
.help--title{
    font-weight: 400;
    color: #444;
    padding-bottom: 5px; 
}
.help--text{
    display: block;
    width:1000px;
}