.product{
    width: 218px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-family: "Roboto";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing:border-box;
    padding-bottom: 20px;
}
.product__wide{
    width:250px;
    margin-bottom: 30px;
}
.product--item{

}
.product--title{
    font-weight: 550;
    font-size: 16px;
    line-height: 16px;
    color: #444;
    padding-bottom: 15px;
}
.product--button{
    background: #E89A48;
    color: #fff;
    border:0;
    padding:5px 35px;
    cursor: pointer;
}
.product--buttons{
    width:100%;
    display: flex;
    justify-content: space-between;
}
.product--image{
    width: 165px;
    height: 105px;

}
.product--price{
    padding-bottom: 15px;
    color: #E89A48;
    font-weight: 600;
}
.product-card{
    cursor: pointer;
}
.product--line{
    height:1px;
    box-sizing: border-box;
    width:70%;
    background-color: #c3c3c3;
    margin-top:15px;
    margin-bottom:10px;
}
.product--description{
    font-size:12px;
    font-weight: 100;
}