.wrap{
    display: flex;
}
.wrap__full{
    width: 100vw;
    height: 100vh;
    background-color: #F1F1F1;
}
.wrap__center{
    justify-content: center;

}
.wrap__vcenter{
    align-items: center;
}